__pycache__/
.ipynb_checkpoints/
.DS_Store
build
*.egg-info
.coverage*
.idea/*
/dist
*.sqlite
.vscode/
pycytominer/tests/test_data/collate/backend/**/*.csv
!pycytominer/tests/test_data/collate/backend/**/*master.csv
!pycytominer/tests/test_data/cell_locations_example_data/*.sqlite
walkthroughs/results/*
