[tool.poetry]
name = "pycytominer"
version = "0.3.0"
description = "Python package for processing image-based profiling data"
authors = [
    "Erik Serrano",
    "Niranj Chandrasekaran",
    "Dave Bunten",
    "Kenneth I. Brewer",
    "Jenna Tomkinson",
    "Roshan Kern",
    "Michael Bornholdt",
    "Stephen Fleming",
    "Ruifan Pei",
    "John Arevalo",
    "Hillary Tsang",
    "Vincent Rubinetti",
    "Erin Weisbart",
    "Charlotte Bunne",
    "Alexandr A. Kalinin",
    "Rebecca Senft",
    "Stephen J. Taylor",
    "Nasim Jamali",
    "Adeniyi Adeboye",
    "Allen Goodman",
    "Juan Caicedo",
    "Anne E. Carpenter",
    "Beth A. Cimini",
    "Shantanu Singh",
    "Gregory P. Way",
]
maintainers = [
    "Gregory P. Way <gregory.way@cuanschutz.edu>",
    "Dave Bunten <dave.bunten@cuanschutz.edu>",
    "Kenneth I. Brewer <ken@kenbrewer.com>",
]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://pycytominer.readthedocs.io/"
repository = "https://github.com/cytomining/pycytominer"

[tool.poetry.dependencies]
python          = ">=3.8"
numpy           = ">=1.16.5"
scipy           = ">=1.5"
pandas          = ">=1.2.0"
scikit-learn    = ">=0.21.2"
sqlalchemy      = ">=1.3.6, <2"
pyarrow         = ">=8.0.0"

# Extra dependencies for cell_locations 
fsspec  =   {version = ">=2023.1.0",    optional=true}
s3fs    =   {version = ">=2023.4.0",       optional=true}
boto3   =   {version = ">=1.26.79",     optional=true}
fire    =   {version = ">=0.5.0",       optional=true}

# Extra dependencies for collate
cytominer-database = {version = "0.3.4", optional=true}

[tool.poetry.extras]
cell-locations = ["fsspec", "s3fs", "boto3", "fire"]
collate = ["cytominer-database"]

[tool.poetry.group.dev.dependencies]
pytest = ">=5.0.1"
codecov = ">=2.1.12"
pytest-cov = "^4.1.0"
pre-commit = ">=3.3.2"
commitizen = "^3.12.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "*"
sphinx = "~7.1"
sphinx-autobuild = "^2021.3.14"
sphinx-autoapi = "^3.0.0"
ipython = "^8.12"
groundwork-sphinx-theme = "^1.1.1"
sphinx-copybutton = "^0.5.2"
nbsphinx = "^0.9.3"
m2r2 = "^0.3.3.post2"
furo = "^2023.9.10"
mock = "^5.1.0"
autodoc = "^0.5.0"


[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$version"
version_scheme = "pep440"
version_provider = "poetry"
update_changelog_on_bump = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py39']

[tool.pytest.ini_options]
testpaths = "tests"
