name: readthedocs-preview
on:
  # Runs when pull requests are opened that affect the docs or the lock file
  pull_request_target:
    types:
      - opened
    paths:
      - "docs/**"
      - poetry.lock

permissions:
  pull-requests: write

jobs:
  # Adds a link to the preview of the docs on readthedocs to the pull request description
  pull-request-links:
    runs-on: ubuntu-24.04
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: "pycytominer"
